// Dark Theme

$primary--dark:             hsl(206, 21%, 15%);
$secondary--dark:           hsl(210, 14%, 33%);
$code--dark:                hsl(210, 14%, 20%);

$txt-primary--dark:         hsl(152, 91%, 48%);
$txt-secondary--dark:       hsl(236, 56%, 58%);


// Light Theme

$primary--light:            hsl(0, 0%, 100%);
$secondary--light:          hsl(210, 22%, 85%);
$code--light:               hsl(210, 22%, 92%);

$txt-primary--light:        hsl(206, 21%, 15%);
$txt-secondary--light:      hsl(209, 12%, 55%);