@use 'vars';

@mixin media-query {
    @media (min-width: vars.$large) {
        @content;
    }
}

@mixin theme($theme) {
    --color-primary: #{map-get($theme, "primary")};
    --color-secondary: #{map-get($theme, "secondary")};
    --color-code: #{map-get($theme, "code")};
    --txt-primary: #{map-get($theme, "textPrimary")};
    --txt-secondary: #{map-get($theme, "textSecondary")};
}
