@use 'normalize';
@use 'abstracts/mixins' as *;
@use 'abstracts/colors';
@use 'abstracts/fonts';
@use 'components/app';
@use 'components/editor';
@use 'components/previewer';


html {  // Temp Theming
    --color-primary: #{colors.$primary--dark};
    --color-secondary: #{colors.$secondary--dark};
    --color-code: #{colors.$code--dark};
    --txt-primary: #{colors.$txt-primary--dark};
    --txt-secondary: #{colors.$txt-secondary--dark};
}

body {  
    font-family: fonts.$primary;
    font-weight: fonts.$light;
}

// Add dark / light mode toggle + theming
// Update favicons
// Add screenshots
// Update README
