// Imports
@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');


// Colors

$color--dark-primary:       hsl(206, 21%, 15%);
$color--dark-secondary:     hsl(210, 14%, 33%);
$color--dark-code:          hsl(210, 14%, 20%);
$color--light-primary:      hsl(0, 0%, 100%);
$color--light-secondary:    hsl(210, 22%, 85%);
$color--light-code:         hsl(210, 22%, 92%);

$txt--dark-primary:         hsl(152, 91%, 48%);
$txt--dark-secondary:       hsl(236, 56%, 58%);
$txt--light-primary:        hsl(206, 21%, 15%);
$txt--light-secondary:      hsl(209, 12%, 55%);


// Fonts

$font--source-code:         'Source Code Pro', monospace;


// Breakpoints

$br--desktop:   1024px;


// Miscellaneous

$border-radius: 4px;


// Mixins


@mixin mq {
    @media (min-width: $br--desktop) {
        @content;
    }
}


//------------------------------------------------------------//

// Style

html {  // Temp Theming
    --color-primary: #{$color--dark-primary};
    --color-secondary: #{$color--dark-secondary};
    --color-code: #{$color--dark-code};
    --txt-primary: #{$txt--dark-primary};
    --txt-secondary: #{$txt--dark-secondary};
}

html, body {  
    font-family: $font--source-code;
    font-weight: 400;
}

.app {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    display: grid;
    grid-template-rows: fit-content(100%) 1fr 1fr;
    grid-template-areas: 
        "name"
        "editor" 
        "preview";

    background-color: var(--color-primary);

    @include mq {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: fit-content(100%) auto;
        grid-template-areas: 
        "name name"
        "editor preview";
    }

    &__name {
        grid-area: name;
        margin: 0;
        padding: 1rem;

        font-size: 1.2rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-align: right;
        color: var(--txt-primary);

        background-color: var(--color-primary);
    }
}

.editor {
    display: grid;
    grid-template-rows: fit-content(100%) auto;
    grid-area: editor;

    border: 1px solid var(--color-secondary);
    border-right: none;

    &__header {
        padding-left: 1rem;
        border-bottom: 1px solid var(--color-secondary);
    }

    &__title {
        font-size: .9rem;
        font-weight: 400;
        color: var(--txt-secondary);
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    &__input {
        width: 100%;
        height: auto;
        padding: 1rem;
        box-sizing: border-box;

        line-height: 1.6rem;
        color: var(--txt-primary);

        border: none;
        background-color: var(--color-primary);
    }
}

.previewer {
    display: grid;
    grid-template-rows: fit-content(100%) auto;
    grid-area: preview;

    color: var(--txt-primary);

    border: 1px solid var(--color-secondary);

    overflow: auto;

    &__header {
        padding-left: 1rem;
        border-bottom: 1px solid var(--color-secondary);
    }

    &__title {
        font-size: .9rem;
        font-weight: 400;
        color: var(--txt-secondary);
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    &__output {
        padding: 1rem;
        
        color: var(--txt-primary);

        overflow: auto;

        h1,
        h2, 
        h3, 
        h4, 
        h5, 
        h6,
        p { 
            margin-top: 0; 
            margin-bottom: 1rem;
        }

        p { 
            line-height: 1.4rem; 
        }

        pre { margin-bottom: 1rem; }

        pre,
        code {
            padding: .2rem;

            border-radius: 4px;
            background-color: var(--color-code);

            overflow: auto;
        }

        hr {
            margin-block: 1rem;
            height: .2rem;
            box-sizing: border-box;

            border: none;
            background-color: var(--color-secondary);
        }

        a { 
            text-underline-offset: .1rem;
            color: var(--txt-secondary); 
        }

        blockquote { 
            padding-left: .5rem;

            font-style: italic;

            border-left: 3px solid var(--color-secondary); 
        }

        table,
        thead,
        tbody,
        tr,
        th,
        td { background-color: var(--color-p); }

        table { 
            margin-block: 1rem;

            border-spacing: 0;
        }

        th,
        td { 
            padding: .4rem;

            border: 1px solid var(--color-secondary);  

            &:first-child { border-left: none; }

            &:last-child { border-right: none; }
        }

        th { border-top: none; }

        td { border-bottom: none; }

        ul,
        ol {
            padding-inline-start: 1.5rem;

            margin-bottom: 1rem;
        }

        li {  margin-bottom: .5rem; }

        img {
            width: 100%;
            height: auto;
        }
    }
}

// Add jsconfig
// Add dark / light mode toggle + theming
// Split scss files
// Update favicons
// Add screenshots
// Update README
